body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    background: #e3e3e3;
    font-family: 'Righteous', cursive;
    text-align: center;
    margin-top: 5rem;
}

.Info {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

.scores {
    max-height: 120px;
    overflow: scroll;
}